#nav_carrito{
	background-image: url("/images/trama3.jpg");
	height: 60px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
}
#nav_carrito ul li a{
	padding-top: 20px !important;
	color: blue !important;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	border-radius: 15px;
   	transition: all .8s ease;
}
#tit_carrito img{
	height: 130px;
}
table tr td{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
}
#carro{
	height: 100%;
	width: 100%;
}
thead{
	text-align:  center;
}
#confirmar{
	width: 100%;
}
#tit_car{
	font-family: 'Architects Daughter', cursive;
	font-size: 34px;
}
#vaciar{
	font-family: 'Architects Daughter', cursive;
	font-size: 18px;
	padding-left: 15px;
}
.txt_car{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
}