doctype html
html(lang = "en")
	head
		title El Sabor Oaxaqueño
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700" rel="stylesheet")
		script(src="https://use.fontawesome.com/dc6e7cc53c.js")
		script(src="https://use.fontawesome.com/783e17f944.js")
		link(href="css/estilo.css" rel="stylesheet")
		link(href="css/carrito.css" rel="stylesheet")

		
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="js/nav-bar.js")

	body
		header
			nav(class="navbar navbar-default customnavbar")
				div(class="container-fluid")
					div(class="navbar-header")
						
						a(class="navbar-brand")
							img(class="logo" src="images/logo_elsabordeantequera.png" alt="Brand")
						p(class="nueva navbar-text") Restaurant Buffet
					
					div(class="navbar-header navbar-right" id="buscar")
						ul(class="nav navbar-nav")
							li(id="busqueda")
								form(action="./" method="POST")
									div(class="input-group" id="div-src")
										input(type="text" id="input-src" class="form-control")
										span(class="input-group-btn" id="btn-src")
											button(class="btn btn-default" type="button")
												i(class="glyphicon glyphicon-search")
											a(href="#" class="btn btn-default" id="close-src")
												i(class="glyphicon glyphicon-remove")
								a(href="#" id="search" ) Buscar
									i(class="glyphicon glyphicon-search pull-left")

							li(class="espacio-izq" id="login")
								a(href="#") Entrar/Registrar
									i(class="glyphicon glyphicon-user pull-left")
			nav(class="navbar navbar-default navbar-m")
				div(class="container-fluid")
					div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed menu_peke" data-toggle="collapse" data-target="#bs-example-nabvar-collapse-1" aria-expanded="false" id="menu_peke")
						span(class="sr-only")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					div(class="collapse navbar-collapse" id="bs-example-nabvar-collapse-1")
						ul(class="nav navbar-nav navbar-left text-center")
							li
								a(href="#") Inicio
							li(class="dropdown")
								a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ) Nosotros
									span(class="caret")
								ul(class="dropdown-menu dropdown" id="hola")
									li
										a(href="#") Objetivos
									li
										a(href="#") Mision
									li
										a(href="#") Vision
									li
										a(href="#") Contacto
									li
										a(href="#") Acerca de


							li
								a(href="#") Eventos
							li(class="dropdown")
								a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") Gastronomia
									span(class="caret")
								ul(class="dropdown-menu")
									li
										a(href="#") Desayunos
									li
										a(href="#") Comidas
									li
										a(href="#") Cenas
									li
										a(href="#") Postres

						ul(class="nav navbar-nav navbar-right text-center")
							li
								a(href="#") Sub: $0.00
									i(class="glyphicon glyphicon-shopping-cart pull-left")

		div(class="col-md-12 col-xs-12 text-center" id="tit_carrito")
			img(class="logo" src="images/logo_elsabordeantequera.png" alt="Brand")


		div(class="ROW")
			div(class="col-md-12" )
				p(class="text-center" id="tit_car") Mi Carrito
			


		div(class="container" )
			div(class="col-md-12 text-right")
				i(class="glyphicon glyphicon-shopping-cart ")
				a(href="#" class="" id="vaciar") Vaciar Carrito
				br
		

			div(class="table-responsive" id="carro")
				table(class="table")
					thead()
						th Producto
						th P. Unit
						th Cantidad
						th Subtotal
						th Operacion
					tr
						td Audifonos
						td $128.00
						td 
							form(name="formulario" id="formulario" action="" method="POST")
								input(type="number" name="cantidad" min="1" max="10")

						td $500.00
						td 
							a(href="#") Eliminar
					tr
						td Audifonos
						td $128.00
						td 
							form(name="formulario" id="formulario" action="" method="POST")
								input(type="number" name="cantidad" min="1" max="10")

						td $500.00
						td 
							a(href="#") Eliminar



			div(class="ROW")
				div(class="col-md-12 text-right" id="total_compra")
					p Total: $100.00

		br
		br

		div(class="ROW")
				div(class="col-md-6")
					div(class="panel panel-default")
						div(class="panel-heading txt_panel text-center" )
							h2 Información de Envio
						div(class="panel-body")
							p(class="txt_car text-justify") Intrduce la direccion de entrega correctamente ya que el 80% de los pedidos que no llegan rapido es debido a que dan una mala direccion de envio.
							br
							div(class="form-group")
								label(for="name" class="control-label") Nombre de quien recibe
								div(class="input-group")
									span(class="input-group-addon")
										i(class="fa fa-truck" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Escriba el nombre de la persona que recibira el paquete")
							div(class="form-group")
								label(for="name" class="control-label") Email
								div(class="input-group")
									span(class="input-group-addon")
										i(class="fa fa-envelope" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Escriba el nombre de la persona que recibira el paquete")
									span(class="input-group-addon")
										i(class="fa fa-at" aria-hidden="true")
									
									div(class="input-group-btn" id="div-correo")
										select(name="OS" id="cor-select") 
											option(value="1") gmail.com
											option(value="2") hotmail.com
											option(value="3") itoaxaca.edu.mx
											option(value="4") live.com.mx
							div(class="form-group")
								label(for="name" class="control-label") Direccion
								div(class="input-group")
									span(class="input-group-addon")
										i(class="fa fa-address-book-o" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Escribe calle, colonia y numero")
								div(class="input-group")		
									span(class="input-group-addon")
										i(class="fa fa-address-book-o" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Entre que calles esta el domicilio")
							div(class="form-group")
								label(for="name" class="control-label") Ciudad
								div(class="input-group")
									span(class="input-group-addon")
										i(class="fa fa-location-arrow" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Ciudad")
							div(class="form-group")
								label(for="name" class="control-label") Telefonos
								div(class="input-group")
									span(class="input-group-addon")
										i(class="fa fa-phone" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Telefono Fijo con LADA")
									span(class="input-group-addon")
										i(class="fa fa-mobile" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Telefono Celular con LADA")
							div(class="form-group text-center col-md-12")
								label(for="name" class="control-label") Codigo Postal
								div(class="input-group text-center col-md-6 col-md-offset-3")
									span(class="input-group-addon")
										i(class="fa fa-street-view" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Codigo Postal")
									

				div(class="col-md-6 ")
					div(class="panel panel-default")
						div(class="panel-heading txt_panel text-center")
							h2 Información de Pago
						div(class="panel-body")
							p(class="txt_car text-justify") Todos los datos poroporcionados acerca de tu tarjeta de credito seran tratados en base a las politicas de seguridad vigentes 
								a en este enlace.
							br
							div(class="ROW col-md-12")
								div(class="col-md-6 col-md-offset-3")
									img(src="images/CC-tipos.png" class="img-rounded" id="tipos-cc")
									br
									br
									br
									br
							div(class="form-group")
								label(for="name" class="control-label") Nombre del Titular
								div(class="input-group")
									span(class="input-group-addon")
										i(class="fa fa-id-card-o" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="Nombre que muestra la tarjeta")
							div(class="ROW txt_car2")
								div(class="col-md-3 col-sm-3 col-xs-3")
									span(class="help-block text-muted small-font") Expiry Month
									input(type="text" class="form-control" placeholder="MM")
								div(class="col-md-3 col-sm-3 col-xs-3")
									span(class="help-block text-muted small-font") Expiry Year
									input(type="text" class="form-control" placeholder="YY")
								div(class="col-md-3 col-sm-3 col-xs-3")
									span(class="help-block text-muted small-font") CVV
									input(type="text" class="form-control" placeholder="CVV")
								div(class="col-md-3 col-sm-3 col-xs-3")
									img(src="images/CC-64.png" class="img-rounded" id="img-credit")
							div(class="form-group")
								label(for="name" class="control-label") Numero de tarjeta
								div(class="input-group")
									span(class="input-group-addon")
										i(class="fa fa-credit-card-alt" aria-hidden="true")
									input(type="text" class="form-control" name="name" id="name"  placeholder="•••• •••• •••• ••••")
								br
								br
								br
								br
								br
								br

		

		div(class="ROW")
			div(class="col-md-2 col-md-offset-10")
				button(id="confirmar") Confirmar compra
				br
				br
				br

	
		div(class="ROW text-center")
			div(class="col-md-12" id="redes")
				label(class="control-label") Acerca de Nosotros:
				br
				br
			
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/fb-icon.png" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/tw-icon.png" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/ins-icon.ico" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/galery-icon.png" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/contacto-1.png" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/maps-icon.png" class="img-rounded img-footer")

			div(class="col-md-12" id="redes3")
				br
				label(class="control-label") JASUIJU Company 
					© Todos los derechos reservados
				br
				br



	