doctype html
html(lang = "en")
	head
		title El Sabor Oaxaqueño
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
		link( href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet")
		link(href="css/estilo.css" rel="stylesheet")
		link(href="css/carrito.css" rel="stylesheet")

		
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="js/nav-bar.js")

	body
		header
			nav(class="navbar navbar-default customnavbar")
				div(class="container-fluid")
					div(class="navbar-header")
						
						a(class="navbar-brand")
							img(class="logo" src="images/logo2.png" alt="Brand")
						p(class="pacifico navbar-text") El Sabor de Antequera
					
					div(class="navbar-header navbar-right" id="buscar")
						ul(class="nav navbar-nav")
							li(id="busqueda")
								form(action="./" method="POST")
									div(class="input-group" id="div-src")
										input(type="text" id="input-src" class="form-control")
										span(class="input-group-btn" id="btn-src")
											button(class="btn btn-default" type="button")
												i(class="glyphicon glyphicon-search")
											a(href="#" class="btn btn-default" id="close-src")
												i(class="glyphicon glyphicon-remove")
								a(href="#" id="search" ) Buscar
									i(class="glyphicon glyphicon-search pull-left")

							li(class="espacio-izq" id="login")
								a(href="#") Entrar/Registrar
									i(class="glyphicon glyphicon-user pull-left")
			nav(class="navbar navbar-default navbar-m")
				div(class="container-fluid")
					div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed menu_peke" data-toggle="collapse" data-target="#bs-example-nabvar-collapse-1" aria-expanded="false")
						span(class="sr-only")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					div(class="collapse navbar-collapse" id="bs-example-nabvar-collapse-1")
						ul(class="nav navbar-nav navbar-left text-center")
							li
								a(href="#") Inicio
							li(class="dropdown")
								a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ) Nosotros
									span(class="caret")
								ul(class="dropdown-menu dropdown" id="hola")
									li
										a(href="#") Objetivos
									li
										a(href="#") Mision
									li
										a(href="#") Vision
									li
										a(href="#") Contacto
									li
										a(href="#") Acerca de


							li
								a(href="#") Eventos
							li(class="dropdown")
								a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") Gastronomia
									span(class="caret")
								ul(class="dropdown-menu")
									li
										a(href="#") Desayunos
									li
										a(href="#") Comidas
									li
										a(href="#") Cenas
									li
										a(href="#") Postres

						ul(class="nav navbar-nav navbar-right text-center")
							li
								a(href="#") Sub: $0.00
									i(class="glyphicon glyphicon-shopping-cart pull-left")

		div(class="col-md-12 col-xs-12 text-center" id="tit_carrito")
			img(class="logo" src="images/logo_elsabordeantequera.png" alt="Brand")

		div(class="col-md-12 col-xs-12" id="nav_carrito")
			p(class="navbar-left text-center") Mi Carrito
			a(href="#" class="navbar-right text-right") Vaciar Carrito
				i(class="glyphicon glyphicon-shopping-cart pull-left")
			br
			br
			br
		div(class="container" )

			div(class="table-responsive" id="carro")
				table(class="table")
					thead()
						th Producto
						th P. Unit
						th Cantidad
						th Subtotal
						th Operacion
					tr
						td Audifonos
						td $128.00
						td 
							form(name="formulario" id="formulario" action="" method="POST")
								input(type="number" name="cantidad" min="1" max="10")

						td $500.00
						td 
							a(href="#") Eliminar
					tr
						td Audifonos
						td $128.00
						td 
							form(name="formulario" id="formulario" action="" method="POST")
								input(type="number" name="cantidad" min="1" max="10")

						td $500.00
						td 
							a(href="#") Eliminar
					tr
						td subtotal



			div(class="text-right")
				p Total: 
				p $10.00