doctype html
html(lang = "en")
	head
		title El Sabor Oaxaqueño
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Jockey+One" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700" rel="stylesheet")
		script(src="https://use.fontawesome.com/dc6e7cc53c.js")
		script(src="https://use.fontawesome.com/783e17f944.js")
		link(href="css/estilo.css" rel="stylesheet")
		link(href="css/carrito.css" rel="stylesheet")
		link(href="css/obj.css" rel="stylesheet")

		
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="js/nav-bar.js")

	body
		header
			nav(class="navbar navbar-default customnavbar")
				div(class="container-fluid")
					div(class="navbar-header")
						
						a(class="navbar-brand")
							img(class="logo" src="images/logo_elsabordeantequera.png" alt="Brand")
						p(class="nueva navbar-text") Restaurant Buffet
					
					div(class="navbar-header navbar-right" id="buscar")
						ul(class="nav navbar-nav")
							li(id="busqueda")
								form(action="./" method="POST")
									div(class="input-group" id="div-src")
										input(type="text" id="input-src" class="form-control")
										span(class="input-group-btn" id="btn-src")
											button(class="btn btn-default" type="button")
												i(class="glyphicon glyphicon-search")
											a(href="#" class="btn btn-default" id="close-src")
												i(class="glyphicon glyphicon-remove")
								a(href="#" id="search" ) Buscar
									i(class="glyphicon glyphicon-search pull-left")

							li(class="espacio-izq" id="login")
								a(href="/login") Entrar/Registrar
									i(class="glyphicon glyphicon-user pull-left")
			nav(class="navbar navbar-default navbar-m")
				div(class="container-fluid")
					div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed menu_peke" data-toggle="collapse" data-target="#bs-example-nabvar-collapse-1" aria-expanded="false" id="menu_peke")
						span(class="sr-only")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					div(class="collapse navbar-collapse" id="bs-example-nabvar-collapse-1")
						ul(class="nav navbar-nav navbar-left text-center")
							li
								a(href="/Home") Inicio
							li(class="dropdown")
								a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ) Nosotros
									span(class="caret")
								ul(class="dropdown-menu dropdown" id="hola")
									li
										a(href="/Servicios") Servicios
									li
										a(href="/Mision") Mision
									li
										a(href="/Vision") Vision
									li
										a(href="") Contacto
									li
										a(href="") Acerca de


							li
								a(href="/Eventos") Eventos
							li(class="dropdown")
								a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") Gastronomia
									span(class="caret")
								ul(class="dropdown-menu")
									li
										a(href="/menu/Desayunos") Desayunos
									li
										a(href="/menu/Comidas") Comidas
									li
										a(href="/menu/Cenas") Cenas
									li
										a(href="/menu/Postres") Postres

						ul(class="nav navbar-nav navbar-right text-center")
							li
								a(href="/carrito") Sub: $0.00
									i(class="glyphicon glyphicon-shopping-cart pull-left")

		div()
			div()
				div(id="carrusel1" class="carousel slide" data-ride="carousel")
					ol(class="carousel-indicators")
						li(data-target="#carrusel1" data-slide-to="0" class="active")
						li(data-target="#carrusel1" data-slide-to="1")
						li(data-target="#carrusel1" data-slide-to="2")

					div(class="carousel-inner" role="listbox")
						div(class="item active")
							img( src="images/c02.jpg" class="img-responsive tales" alt="")
							div(class="carousel-caption")
								img( src="images/logo_elsabordeantequera.png" class=" tales2" alt="")
								h3(id="tit-carru") Envios gratis a domicilio en todo el menu
								
						div(class="item")
							img( src="images/Eventos/e02.jpg" class="img-responsive tales" alt="")
							div(class="carousel-caption")
								
						div(class="item")
							img( src="images/c03.jpg" class="img-responsive tales" alt="")
							div(class="carousel-caption")
								img( src="images/logo_elsabordeantequera.png" class=" tales2" alt="")
								h3(id="tit-carru") Envios gratis a domicilio en todo el menu
								

					a(href="#carrusel1" class="left carousel-control" role="button" data-slide="prev")
						span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
						span(class="sr-only") Anterior

					a(href="#carrusel1" class="right carousel-control" role="button" data-slide="next")
						span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
						span(class="sr-only") Anterior

		
		div(class="ROW")
			div(class="col-md-8 col-md-offset-2")
				div(class="panel panel-default" id="panel-g")
					div(class="panel-heading txt_panel text-center" id="panel-g")
						h2 A solo 15 minutos de la ciudad de Oaxaca
					div(class="panel-body")
						p(class="txt_car text-center") K.m 0.700 Carret. A San Agustin Yatareni, Oaxaca MEXICO.
						br
						p(class="txt_car text-center") Tel. (951) 51 7 66 55, 51 7 55 50
						br
						p(class="txt_car text-justify") Somos una empresa restaurantera, que ofrece el mejor buffet de Oaxaca, busca la satisfacción de nuestros clientes externos, a trvés de una constante innovacion, atención personalizada y variedad en los platillos, así como el crecimiento personal y profesion de nuestros clientes internos, procurando el trabajo en un ambiente familiar. Estamos comprometidos con la sociedad a traves de la generación de empleos y la labor altruista.
						

		div(class="ROW")
			div(class=" col-md-10 col-md-offset-1")
				div(class="thumbnail")
					img(src="images/h01.jpg" alt="" class="img-rounded")
		br
		br

		





		div(class="ROW text-center")
			div(class="col-md-12 col-xs-12" id="redes")
				label(class="control-label") Acerca de Nosotros:
				br
				br
			
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/fb-icon.png" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/tw-icon.png" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/ins-icon.ico" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/galery-icon.png" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/contacto-1.png" class="img-rounded img-footer")
			div(class="col-md-2 col-sm-2 col-xs-2" id="redes2")
				a(href="#")
					img(src="images/maps-icon.png" class="img-rounded img-footer")

			div(class="col-md-12 col-xs-12" id="redes3")
				br
				label(class="control-label") JAS Company 
					© Todos los derechos reservados
				br
				br



	