doctype html
html(lang = "en")
	head
		title El Sabor Oaxaqueño
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
		link(href="css/estilo.css" rel="stylesheet")

		
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

	body
		header(class="navbar navbar-default customnavbar")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed" data-toogle="collapse" data-target="#bs-example-nabvar-collapse-1" aria-expanded="false")
						span(class="sr-only")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand")
						img(class="logo" src="images/logo2.png" alt="Brand")
				h1(class="pacifico navbar-brand" alt="Brand") El Sabor de Antequera
		h1 Hola mundo