nav(class="navbar navbar-default navbar-m")
				div(class="container-fluid")
					div(class="navbar-header")
						button(type="button" class="navbar-toggle collapsed menu_peke" data-toggle="collapse" data-target="#bs-example-nabvar-collapse-1" aria-expanded="false")
							span(class="sr-only")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
					
					div(class="collapse navbar-collapse" id="bs-example-nabvar-collapse-1")
						ul(class="nav navbar-nav navbar-right text-center")
							li
								a(href="#") inicio
							li
								a(href="#") quienes somos
							li
								a(href="#") menu
							li
								a(href="#") eventos
							li
								a(href="#") contacto

							li( style="max-width: 204px;")
								form(action="./" method="POST")
									div(class="input-group" id="div-src")
										input(type="text" id="input-src" class="form-control")
										span(class="input-group-btn" id="btn-src")
											button(class="btn btn-default" type="button")
												i(class="glyphicon glyphicon-search")
											a(href="#" class="btn btn-default" id="close-src")
												i(class="glyphicon glyphicon-remove")
								a(href="#" id="search")
									i(class="glyphicon glyphicon-search")			